<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                 <form action="/" method="post">
                    <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
                    <input autocomplete="off" autofocus name="birthmonth" placeholder="Birth month" type="text">
                    <input autocomplete="off" autofocus name="birthday" placeholder="Birth day" type="text">
                    <button type="submit">Register</button>
                 </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for person in database %}
                        <tr>
                                <td>{{ person.name }}</td>
                                <td>{% set number = person.month | int %}{{ person.day }}.{% if number>9 %}{{ person.month }} {% else %}0{{ person.month }} {% endif %} </td>
                                <td>
                                    <form action="/delete" method="post">
                                        <input name="id" type="hidden" value="{{ person.id }}">
                                        <button type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
