{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class="welcome-message">
    <h1>Welcome to Budorent!</h1>
    <p>At Budorent, we provide a wide range of high-quality construction equipment available for rent. Whether you're tackling a small DIY project or managing a large-scale construction site, we have the tools and machinery you need to get the job done efficiently. Browse our selection, choose the right equipment for your needs, and rent it for as long as you require. With Budorent, professional-grade equipment is just a click away!</p>
  </div>
  
  <div class="border1">
    <img src="/static/shopinside.jpg" class="img-fluid" alt="Shop inside">
  </div>
  
    
  
    
{% endblock %}
