{% extends "layout.html" %}

{% block title %}
    Our stores
{% endblock %}

{% block main %}


<div class="container my-5">
    <div class="card shadow-lg border-0">
        <div class="ratio ratio-16x9">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3372.4315885249675!2d19.943397377052783!3d50.05169331599436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b6a63758e79%3A0x3f4361ecac3e2a46!2sKupa%207%2C%2031-057%20Krak%C3%B3w!5e1!3m2!1sen!2spl!4v1724950403588!5m2!1sen!2spl" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="card-body">
            <h2 class="card-title text-center">Kraków - Main Location</h2>
            <h4 class="card-subtitle mb-3 text-center">Kupa 7, 30-045 Kraków</h4>
            <p class="card-text">Welcome to our sole, currently operational Budorent store, located in the heart of Kraków:</p>
            <p class="card-text">Our Kraków store is your go-to destination for a comprehensive range of rental equipment. Conveniently situated in the city center, we provide easy access for our customers. At this location, you will find a wide selection of equipment, expert assistance, and advice to help you choose the best solutions tailored to your needs.</p>
            
            <hr class="my-4">
            
            <h4 class="card-title">Future Expansion</h4>
            <p class="card-text">Follow our news to stay informed about our network's growth and new locations. We look forward to welcoming you to our stores and appreciate your continued trust!</p>
        </div>
    </div>
</div>

    
{% endblock %}

