{% extends "layout.html" %}

{% block title %}
    Rent Equipment
{% endblock %}

{% block main %}

<form action="/cart" method="post">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for row in rows %}
        <div class="col">
            <div class="{% if row.available != 0 %}card{% else %}card_soldout{% endif %}">
                <img src="/static/{{ row.item_id }}.jpg" class="card-img-top" alt="{{ row.item_id }}">
                <div class="card-body">
                    <h5 class="{% if row.available != 0 %}card-title{% else %}card_soldout-title{% endif %}">
                        <a style="{% if row.available == 0 %}color: black; opacity: 5;{% else %}color: #c33607;{% endif %}" href="#">
                            {{ row.name }}
                        </a>
                    </h5>
                    <p class="{% if row.available != 0 %}card-text{% else %}card_soldout-text{% endif %}">
                        <p>Available: {{ row.available }}</p>
                        <p>Cost per 1 day: {{ row.price_daily }}</p>
                    </p>
                    {% if row.available != 0 %}
                    <form action="/cart" method="post">
                        <input type="hidden" name="action" value="add">
                        <input name="item_id" type="hidden" value="{{ row.item_id }}">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                    {% else %}
                    <button class="btn btn-secondary" disabled>Sold Out</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</form>

{% endblock %}
